body {
    font-family: "Inter", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    color: grey;
    border-bottom: 1px solid black;
}

.header-icon {
    display: flex;
    gap: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;

}

.header-logo-name {
    font-size: 25px;
    font-weight: bold;
}

.header-menu {
    display: flex;
    gap: 55px;
}

/*banner*/
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 100px 40px;
    width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 90px;
    line-height: 1.3;
}

.banner-text {
    color: grey;
}
.banner-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

/*product*/
.product-container {
    padding: 10px 40px;
}

.product-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
}

.product-content {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 20px;
}

.product-price {
    color: grey;
    font-size: 25px;
    font-weight: 400;
}

.product-item img {
    border: 1px solid #80808033;
    border-radius: 8px;
    overflow: hidden;
    padding: 7px;
    margin-bottom: 20px;
}

/*collection*/
.collection-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 30px 30px;
    gap: 20px;
    margin: 30px 0;
}

.collection-title1 {
    text-transform: capitalize;
    font-size: 70px;
    font-weight: bolder;
}

.collection-title2 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bolder;
}

.collection-item-cover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.collection-item1 {
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-left: 430px;
}

.collection-item2, .collection-item3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 40px;
    padding-left: 50px;

}

.collection-item1, .collection-item2, .collection-item3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collection-name {
    text-transform: uppercase;
    color: grey;
}

.collection-text {
    color: grey;
}

/*footer*/
.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 40px;
    border-bottom: 1px solid black;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 40%;
}

.footer-menu-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}

.footer-menu-item, .footer-contact, .footer-ads {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-email, .footer-tel {
    font-weight: bold;
}

.footer-social {
    display: flex;
    justify-content: space-evenly;
}

.footer-ads {
    width: 20%;
    line-height: 25px;
}

